body{
    margin: 0px; 
    text-align: center;
	background-image: url(img/22.jpg);
}
#d2{
	width: 84%;
	height:65%;
	margin-top:30%;
	margin-left:8%;
}
#d1{
	font-family: "楷体";

	text-align: center;
}
input{
	position: relative;
	width:210px;
	height: 120px;
	font-size: 35px;
	margin-top:100px;
	background-image: url(img/按钮.jpg);
	border-radius: 15%;
}
#a1{
	font-family: "楷体";
	font-size: 60px;
	margin-top:45%;
	
}
