body{
    margin: 0px; 
    text-align: center;
	background-image: url(img/22.jpg);
}
#d1{
	font-family: "楷体";
	font-size: 60px;
	margin-top:350px;
	margin-left:100px;
}
input{
	position: relative;
	width:500px;
	height: 210px;
	font-size: 50px;
	background-image: url(img/按钮.jpg);
	border-radius: 15%;
}

