body {
	background-image: url(img/111.png);
	/*margin:0px;
	text-align: center;*/
}

#d1{
	width: 84%;
	
	position: relative;
	top: 50px;
	left: 35px;
}
#d1>h4{
	text-align: center;
}
#d2{
	display: flex;
	justify-content: center;
	
}
input{
	position: relative;
	top:30px;
}
#a1{
	font-family: "楷体";
	font-size: 40px;
	margin-top:45%;
	
}
