body {
	background-image: url(img/22.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

#d1{
	font-family: "楷体";

	text-align: center;
}
input{
	width:210px;
	height: 60px;
	font-size: 25px;
	margin-top:15px;
	margin-left:35px;
	background-image: url(img/按钮.jpg);
	border-radius: 15%;
}